<section class="about-me">
  <div class="education-section">
    <h3 class="section-title">Education</h3>
    
    <div class="education-item">
      <div class="education-header">
        <h4>Bachelor of Technology in CSE</h4>
        <span class="year">2019 - 2023</span>
      </div>
      <h5>Sister Nivedita University - Techno India </h5>
      <p class="location">Kolkata, West Bengal</p>
      <ul class="achievements">
        <li>CGPA: 8.4/10</li>
        <li>Core team member of Technical Club</li>
        <li>Got recognization for Final year project by the Department</li>
      </ul>
    </div>
  
    <div class="education-item">
      <div class="education-header">
        <h4>Higher Secondary Education</h4><br>
        <span class="year">2017 - 2019</span>
      </div>
      <h5>D.A.V Public School</h5>
      <p class="location">Dhanbad, Jharkhand</p>
      <ul class="achievements">
        <li>Percentage: 76%</li>
        <li>Science Stream with Computer Science</li>
        <li>School prefect and tech club coordinator</li>
      </ul>
    </div>
  </div>
  

  <div class="about-content">
    <h2>Hello! I'm Shubham Prasad</h2>
    <h4><span><i>Your Go-To Software Developer</i></span></h4>
    <p class="subtitle"><strong>Design, solve, deliver - repeat.</strong></p>
    <p class="description">
      With nearly two years of experience, I specialize in crafting scalable, responsive, and user-friendly applications using cutting-edge technologies like Angular, NestJS, Javascript and others. Whether it's building seamless APIs, designing intuitive interfaces, or solving complex technical challenges, I'm passionate about delivering innovative solutions that drive results. <br>

      Beyond coding, I've led teams and contributed to impactful projects, including blockchain applications and client-focused platforms. My expertise, combined with a commitment to continuous learning, makes me the reliable choice for organizations seeking a developer who's as strategic as they are technical. <br>
      
      Let's build something extraordinary together.
    </p>
    <div class="expertise-list">
      <h3>What I Do</h3>
      <ul>
        <li>Front-End Development</li>
        <li>Full Stack Development</li>
        <li>DevOps & Cloud Solutions</li>
        <li>UI/UX Design</li>
        <li>Performance Optimization</li>
      </ul>
    </div>
    <div class="tech-stack">
      <h3>Tech Stack</h3>
      <div class="tech-tags">
        <span>Angular</span>
        <span>Node.js</span>
        <span>Docker</span>
        <span>AWS</span>
        <span>NestJS</span>
        <span>Git/GitHub</span>
      </div>
    </div>
    <button class="download-cv" (click)="downloadResume()">
      <i class="fas fa-download"></i>
      Resume
    </button>
  </div>
</section>
