<section class="about-me">
  <div class="skills-progress">
    <div class="skill-item">
      <div class="skill-header">
        <h3>Design</h3>
        <span>75%</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: 75%"></div>
      </div>
    </div>
    
    <div class="skill-item">
      <div class="skill-header">
        <h3>Front-end</h3>
        <span>90%</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: 90%"></div>
      </div>
    </div>
    
    <div class="skill-item">
      <div class="skill-header">
        <h3>DevOps</h3>
        <span>70%</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: 70%"></div>
      </div>
    </div>

    <div class="skill-item">
      <div class="skill-header">
        <h3>Full Stack</h3>
        <span>80%</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: 80%"></div>
      </div>
    </div>

    <div class="skill-item">
      <div class="skill-header">
        <h3>Problem Solver</h3>
        <span>90%</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: 90%"></div>
      </div>
    </div>
  </div>

  <div class="about-content">
    <h2>Hello! I'm Shubham Prasad</h2>
    <h4><span><i>Your Go-To Software Developer</i></span></h4>
    <p class="subtitle"><strong>Design, solve, deliver - repeat.</strong></p>
    <p class="description">
      With nearly two years of experience, I specialize in crafting scalable, responsive, and user-friendly applications using cutting-edge technologies like Angular, NestJS, Javascript and others. Whether it's building seamless APIs, designing intuitive interfaces, or solving complex technical challenges, I'm passionate about delivering innovative solutions that drive results. <br>

      Beyond coding, I've led teams and contributed to impactful projects, including blockchain applications and client-focused platforms. My expertise, combined with a commitment to continuous learning, makes me the reliable choice for organizations seeking a developer who's as strategic as they are technical. <br>
      
      Let's build something extraordinary together.
    </p>
    <div class="expertise-list">
      <h3>What I Do</h3>
      <ul>
        <li>Front-End Development</li>
        <li>Full Stack Development</li>
        <li>DevOps & Cloud Solutions</li>
        <li>UI/UX Design</li>
        <li>Performance Optimization</li>
      </ul>
    </div>
    <div class="tech-stack">
      <h3>Tech Stack</h3>
      <div class="tech-tags">
        <span>Angular</span>
        <span>Node.js</span>
        <span>Docker</span>
        <span>AWS</span>
        <span>NestJS</span>
        <span>Git/GitHub</span>
      </div>
    </div>
    <button class="download-cv" (click)="downloadResume()">
      <i class="fas fa-download"></i>
      Download Resume
    </button>
  </div>
</section>
